/*колір основного тексту #212121*/
/* колір опису #757575 */
/*колір  ссилок футера rgba(255, 255, 255, 0.6); */
/*акцент #2196F3 */
/*color header #FFFFFF */
/*hero and footer #2F303A */
/*section 2 #E5E5E5 */
/*section 3 #F5F4FA */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-bg-color: #fff;
  --secondary-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
}
.list,
.logo,
.link,
.contact {
  list-style: none;
  text-decoration: none;
}

.body {
  background-color: var(--primary-bg-color);
  font-family: roboto, sans-serif;
  font-style: normal;
}
.footer,
.hero {
  background-color: var(--secondary-bg-color);
}
.footer .address-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo .primary {
  color: var(--accent-text-color);
}
.logo .secondary {
  color: var(--primary-text-color);
}
.logo .footer-secondary {
  color: var(--primary-bg-color);
}
/*Site-nav*/
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.header .contact {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.header .link {
  color: var(--primary-bg-color);
}
.header .contact:hover,
.header .contact:focus {
  color: var(--accent-text-color);
}
/*hero*/
.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  font-family: roboto, sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}
.button-nav .button {
  background-color: var(--button-bg-color);
}
.button-nav .button:focus,
.button-nav .button:hover {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
}
.button-primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  font-family: roboto, sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}
.button-primary:hover,
.button-primary:focus {
  color: var(--primary-bg-color);
  background-color: #188ce8;
}
/*section*/
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.section-subtitle {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}
.section-team {
  background-color: #f5f4fa;
}
.work,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-team .section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
}
.section-team .section-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
}
.breadcrumbs .section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.breadcrumbs .section-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
/*Footer*/
.footer .link {
  color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.footer .contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
