/*колір основного тексту #212121*/
/* колір опису #757575 */
/*колір  ссилок футера rgba(255, 255, 255, 0.6); */
/*акцент #2196F3 */
/*color header #FFFFFF */
/*hero and footer #2F303A */
/*section 2 #E5E5E5 */
/*section 3 #F5F4FA */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-bg-color: #fff;
  --secondary-bg-color: #2f303a;
}
.list {
  list-style: none;
}

.body {
  background-color: var(--primary-bg-color);
  font-family: roboto, sans-serif;
}
.footer,
.hero {
  background-color: var(--secondary-bg-color);
}
.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
/*Site-nav*/
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.address-contact .contact {
  color: var(--secondary-text-color);
}
.address-contact .contact:hover,
.address-contact .contact:focus {
  color: var(--accent-text-color);
}
/*hero*/
.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
}
/*section*/
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-subtitle {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
}
/*Footer*/
.address .link {
  color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address .contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
